.button {
    min-width: 24px;
    max-width: 252px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 4px;
    outline: none;
    color: #131d29ca;
    border: solid 1px #7cd4bbfb;
    background: #7cd4bbd2;
    transition: all ease-in .25s;
    z-index: 1;
    text-decoration: none;
}

.button:hover {
    background: #7cd4bbb0;
    color: #131d29;
    border: solid 1px #67c3a9;
}

.button:active {
    background: #7CD4BB;
    color: #131d29;
    border: solid 1px #67c3a9;
}